@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --background: 0 0% 100%; */
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    /* --primary: 142.1 76.2% 36.3%; */
    --primary-foreground: 355.7 100% 97.3%;
    /* --secondary: 240 4.8% 95.9%; */
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    /* --accent: 240 4.8% 95.9%; */
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 108 100% 40%;
    --radius: 0.5rem;

    /* --text: 0 85% 5%; */
    --background: 0 0% 98%;
    --primary: 108 100% 40%;
    --secondary: 39 100% 41%;
    --accent: 110 100% 32%;

    --primary-50: 106 100% 95%;
    --primary-100: 108 100% 90%;
    --primary-200: 108 100% 80%;
    --primary-300: 108 100% 70%;
    --primary-400: 108 100% 60%;
    --primary-500: 108 100% 50%;
    --primary-600: 108 100% 40%;
    --primary-700: 108 100% 30%;
    --primary-800: 108 100% 20%;
    --primary-900: 108 100% 10%;
    --primary-950: 108 100% 5%;
    
    --secondary-50: 39 100% 95%;
    --secondary-100: 39 100% 90%;
    --secondary-200: 39 100% 80%;
    --secondary-300: 39 100% 70%;
    --secondary-400: 39 100% 60%;
    --secondary-500: 39 100% 50%;
    --secondary-600: 39 100% 40%;
    --secondary-700: 39 100% 30%;
    --secondary-800: 39 100% 20%;
    --secondary-900: 39 100% 10%;
    --secondary-950: 39 100% 5%;
  }

  .dark {
    /* --background: 20 14.3% 4.1%; */
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    /* --primary: 142.1 70.6% 45.3%; */
    --primary-foreground: 144.9 80.4% 10%;
    /* --secondary: 240 3.7% 15.9%; */
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    /* --accent: 12 6.5% 15.1%; */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 108 100% 60%;

    /* --text: 0 85% 95%; */
    --background: 0 0% 2%;
    --primary: 108 100% 60%;
    --secondary: 39 100% 59%;
    --accent: 110 100% 68%;

    --primary-50: 108 100% 5%;
    --primary-100: 108 100% 10%;
    --primary-200: 108 100% 20%;
    --primary-300: 108 100% 30%;
    --primary-400: 108 100% 40%;
    --primary-500: 108 100% 50%;
    --primary-600: 108 100% 60%;
    --primary-700: 108 100% 70%;
    --primary-800: 108 100% 80%;
    --primary-900: 108 100% 90%;
    --primary-950: 106 100% 95%;
    
    --secondary-50: 39 100% 5%;
    --secondary-100: 39 100% 10%;
    --secondary-200: 39 100% 20%;
    --secondary-300: 39 100% 30%;
    --secondary-400: 39 100% 40%;
    --secondary-500: 39 100% 50%;
    --secondary-600: 39 100% 60%;
    --secondary-700: 39 100% 70%;
    --secondary-800: 39 100% 80%;
    --secondary-900: 39 100% 90%;
    --secondary-950: 39 100% 95%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
